.wrapper {
    overflow: hidden;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sc-intro {
    min-height: 100vh;
    position: relative;
    /* position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; */
}

.sc-intro:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
}


.sc-intro .video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: #000;
}

.sc-intro .video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*
.sc-intro .description .text.active {
    opacity: 1;
    transform: translate(-50%, -50%);
} */

.sc-intro .description .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    line-height: 1.33;
    padding: 30px;
    width: 100%;
    text-align: center;
    color: #fff;
    white-space: nowrap;
}

.sc-intro .description .text.t1,
.sc-intro .description .text.t2,
.sc-intro .description .text.t3 {
    font-size: 52px;
    line-height: 1.35;
}

.sc-intro .description .text.t4 {
    font-size: 24px;
    line-height: 1.67;
}

.sc-intro .scroll-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateX(-50%);
    transition: opacity .5s;
}

.sc-showcase {
    position: relative;
    height: 300vh;
}

.sc-showcase>* {
    position: relative;
}

.sc-showcase .case-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.sc-showcase [class*='case0'] {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}

.sc-showcase .case01 {
    width: 100%;
    height: 100vh;
    background: url(/assets/images/img-showcase01-pc.jpg) no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sc-showcase .case01 .txt {
    opacity: 0;
    font-size: 100px;

}

.sc-showcase .case01 .txt span {
    display: block;
}

.sc-showcase .case02 {
    width: 100%;
    height: 100vh;
    background: url(/assets/images/img-showcase02-pc.jpg) no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sc-showcase .case03 {
    width: 100%;
    height: 100vh;
    background: url(/assets/images/img-showcase03-pc.jpg) no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.sc-showcase .case03 .txt {
    font-size: 24px;
}

.sc-challenge {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
}

.sc-challenge .inner {
    display: flex;
    height: auto;
    align-items: center;
    min-height: inherit;
    height: 660px;
    justify-content: space-between;
}

/* .sc-challenge p {
    font-size: 24px;
    line-height: 1.67;
    font-weight: 600;
    align-self: flex-end;
    /* flex: 1; */
/* text-align: right;
}*/

.sc-prove {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 218px 0 226px;
    background: url(/assets/images/prove.jpg);
    background-size: cover;
}

.sc-prove.prove-bg2 {
    background: url(/assets/images/prove-bg2.jpg) no-repeat 50%;
    background-size: cover;
}

.sc-prove p {

    margin: 0 auto;
    font-size: 72px;
    line-height: 1.28;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.sc-gallery .inner {
    display: flex;
    height: auto;
    min-height: inherit;
}

.sc-gallery .text-box {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight: 600;
    line-height: 1.28;
    z-index: -1;

    font-size: 72px;
    width: auto;
    height: 100vh;
    flex: 0 0 470px;
    max-width: 470px;
}

.sc-gallery h2 {
    width: 470px;
}

.sc-gallery .item {
    flex: 0 0 calc(100% - 470px);
    max-width: calc(100% - 470px);
    padding: 100vh 0;
}

.sc-gallery .list {
    max-width: 46.4%;
    font-size: 0;
}

.sc-gallery .list:nth-child(2n-1) {
    margin-left: auto;
}

.sc-gallery .list:not(:last-child) {
    margin-bottom: 186px;
}

.sc-gallery .list img {
    max-width: 100%;
}

.sc-gallery .list span {
    margin: 12px 0 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.sc-possibility {
    color: #fff;
}

.sc-possibility .slide-wrap {
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.sc-possibility .slide-sub {
    display: flex;
    align-items: center;
    /* height: inherit; */
}

.sc-possibility .slide-sub .title {
    flex-shrink: 0;
    padding-right: 160px;
}

.sc-possibility .square {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 75px;
}

.sc-possibility .square .item {
    width: 300px;
    flex-shrink: 0;
}



.sc-possibility .square .item .icon-img {
    width: 296px;
    height: 296px;
    display: block;
    border: 2px solid #fff;
    border-radius: 58px;
    background-color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc-possibility .square .icon-img:after {
    content: "";
    display: block;
    position: absolute;
    right: -44px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border: 8px solid #fff;
    border-left: 0;
    border-bottom: 0;
}

.sc-possibility .square .item .icon-img img {
    max-width: 54%;


}

.sc-possibility .square .item .icon-tit {
    margin-top: 24px;
    padding: 0 0 0 20px;
    font-size: 24px;
    line-height: 1.63;
    font-weight: 700;
}

.sc-possibility .desc {
    margin-top: 120px;
    font-size: 14px;
    color: hsla(0, 0%, 100%, .6)
}

.sc-feature {
    position: relative;
}

.sc-feature .feature-wrap {
    display: flex;
    position: relative;
    height: 175px;
}

.sc-feature .feature-wrap .item {
    width: 33.3%;
}

.sc-feature .feature-wrap .item.pink {
    background-color: #e657af;
}

.sc-feature .feature-wrap .item.blue {
    background-color: #0049ff;
}

.sc-feature .feature-wrap .item.green {
    background-color: #00bf41;
}

.sc-feature .title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 100px;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25;
    color: #fff;
}

.sc-dataid {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
}

.sc-dataid .inner {
    display: flex;
    height: inherit;
    align-items: center;
    color: #fff;
    justify-content: space-between;

}

/* .sc-creator {
    position: relative;
    height: 100vh;
    background: url(/assets/images/ko.jpg);
    background-size: cover;
} */
.sc-creator {
    position: relative;
}

.sc-creator .text-box {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
}

.sc-ground {
    padding: 200px 0;
    background: #fff;
}

.sc-ground .inner {
    display: flex;
    flex-direction: column;
}



.sc-ground .inner .desc {
    font-size: 24px;
    line-height: 1.67;
    font-weight: 600;
    color: #000;
    margin-top: 34px;
}

.sc-ground .inner .link-group {
    margin-top: 70px;
    display: flex;
}

.sc-ground .inner .link-group a {
    font-size: 18px;
    line-height: 2.22;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #000;
    padding: 3px 21px 1px;
    display: block;
    margin-right: 18px;
}

.sc-ground .inner .link-group a.btn-down {
    background: #000;
    color: #fff;
}

.sc-ground .inner .link-group a.btn-link {
    color: #000
}